$ft: 50%;

.GalleryCss {
  text-align: center;
  position: absolute;
  left: $ft;
  transform: translate(-$ft, 100px);
}

.FormCss {
  text-align: center;
  position: absolute;
  left: $ft;
  transform: translate(-$ft, 0%);
}