.ViewCss {
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 100px);
}

.SearchCss{
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50px);
}


